@model Product

<div class="container min-vh-100">
	<div style="width:30%; margin:0; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
		<form method="post" asp-action="Delete">
				<div class="row pb-2">
					<h2 class="text-primary">Delete Product</h2>
					<hr />
				</div>
				@*<div asp-validation-summary="All"></div>*@
				<div class="mb-4">
					<h3> Are you sure you want to remove <b>@Model.Name</b>?</h3>
				</div>
				<button type="submit" class="btn btn-primary" style="width:65%">Delete</button>
				<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:34%">
					Back to List
				</a>
		</form>
	</div>
</div>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}


