@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center min-vh-100">
    <div style=" margin: 0; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
        <h1 class="display-3">Inventory Management System</h1>
        <p>Create, Delete or Update your products inventory</p>
           <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">
            All Products
	       </a>
    </div>
</div>
